.Rproj.user
.Rhistory
.RData
.Ruserdata
brolgar-paper.tex
brolgar-paper.R
*.log
paper/brolgar-paper_files/
paper/*.html
.DS_Store
sigfile.png
cover-letter/*.pdf
*.zip
*.aux
*.blg
*.brf
*.out
reviewer-response/